fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
aiohttp
redis
openai
python-dotenv
httpx
celery
Pillow
google-cloud-vision
aiohttp